{% extends 'base.html' %}

{% block title %} Seja Bem Vindo {% endblock %}

{% block main %}

     <div class="row">
           <div class="col-sm">
           </div>
           <div class="col-sm">
               <h1>Seja Bem Vindo!</h1>
           </div>
           <div class="col-sm">
               {% if user.is_authenticated %}
                    <p> Ola {{ user.username }} </p>
                    <a href="{% url 'logout' %}">Sair</a>
               {% else %}
                     <a href="{% url 'login' %}" class="btn btn-info">Entrar</a>
               {% endif %}
           </div>
     </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento Web com Django 2.1 </span>
      </div>
    </footer>
{% endblock %}