
{% extends 'base.html' %}

{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
           <div class="col-sm">

           </div>
           <div class="col-sm">
                 <h3>Listagem de Clientes </h3>
                 <ul class="list-group">
                     {% for person in persons %}

                         <li class="list-group-item">
                             <a href ="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                             <a href ="{% url 'person_delete' person.id %}" class="trash-item">
                                 <i class="fa fa-trash"></i>
                             </a>
                         </li>

                     {% endfor %}

                 </ul>
                <br>
                <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo Cliente </a>


           </div>
           <div class="col-sm">
               {% if user.is_authenticated %}
                  <p> Ola {{ user.username }} <a href="{% url 'logout' %}"><span class="badge badge-dark">Sair</span>
  </a> </p>
               {% endif %}
           </div>
     </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento Web com Django 2.1 </span>
      </div>
    </footer>
{% endblock %}